/* import colors.scss */
@use './colors' as *;

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
}
* {
  text-transform: initial !important;
}
body {
  background-color: $whiteColor;
  font-family: "Montserrat", sans-serif;
}